@model IEnumerable<CW7924.DAL.Client>
@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="FlowerShopSPA">
    <div ng-view>

    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    angular.module('FlowerShopSPA', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/index.html',
                        controller: 'IndexController'
                    })
                .when('/clients',
                    {
                        templateUrl: 'pages/clients.html',
                        controller: 'ClientController'
                    })
                .when('/plants',
                    {
                        templateUrl: 'pages/plants.html',
                        controller: 'PlantController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        }).controller('IndexController', ['$scope', '$http', function ($scope, $http) {

            $scope.message = "Florange Flower Shop checking SPA";
        }])
        .controller('ClientController', ['$scope', '$http', function ($scope, $http) {

            $scope.clients = [];
            $http.get('@Url.Action("GetClients", "Client")')
                .then(function (response) {
                    $scope.clients = response.data;
                })

        }])
         .controller('PlantController', ['$scope', '$http', function ($scope, $http) {

            $scope.plants = [];
            $http.get('@Url.Action("GetPlants", "Plant")')
                .then(function (response) {
                    $scope.plants  = response.data;
                })

        }]);

</script>



