<div class="row">
    <h3>First Name and Last Name should contain at least 2 characters each</h3>
    <div class="col-md-4">


        <div class="form-group">
            <label for="FirstName" class="control-label"></label>
            <input ng-model="client.firstName" placeholder="First Name" type="text" />

        </div>
        <div class="form-group">
            <label for="Last Name" class="control-label"></label>
            <input ng-model="client.lastName" placeholder="Last Name" type="text" />

        </div>
        <div class="form-group">
            <label for="Gender" class="control-label"></label>
            <select ng-model="client.genderType" class="form-control">
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Unknown</option>
            </select>
              
         
        </div>
        <div class="form-group">
            <label for="DoB" class="control-label"></label>
            <input ng-model="client.dateOfBirth" placeholder="Date of Birth" type="date" />
        </div>
        <div class="form-group">
            <label for="PlantID" class="control-label"></label>
            <!-- <input asp-for="PlantID" class="form-control" asp-items="ViewBag.PlantName"/> -->
            <select ng-model="client.plantId" type="number" ng-options="plant.id as plant.plantName for plant in plants">
                
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveClient()" />
        </div>

    </div>
</div>
