<div class="row">
    <div class="col-md-4">


        <div class="form-group">
            <label for="FirstName" class="control-label"></label>
            <input ng-model="client.firstName" placeholder="First Name" type="text" />

        </div>
        <div class="form-group">
            <label for="LastName" class="control-label"></label>
            <input ng-model="client.lastName" placeholder="Last Name" type="text" />

        </div>
        <div class="form-group">
            <label for="FirstName" class="control-label"></label>
            <input ng-model="client.firstName" placeholder="Date of Birth" type="text" />

        </div>
        <div class="form-group">
            <label for="FirstName" class="control-label"></label>
            <input ng-model="client.firstName" placeholder="First Name" type="text" />

        </div>
        <!--  <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">

        <label asp-for="Gender" class="control-label"></label>
        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<CW7924.DAL.Gender>()"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlantID" class="control-label"></label>
        <select asp-for="PlantID" class="form-control" asp-items="ViewBag.PlantID "></select>
    </div> -->
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" ng-click="SaveDepartment()" />
        </div>

    </div>
</div>>